div {
	/* standard boxing for divs */
	border: 1px solid black;
  border-radius: 5px
}

#container {
width: 980px;
margin: 0 auto;
}

#leftbar  {
  float: left;
  height: 750px;
  width: 250px;
  display: fixed;
}

#navbar {
  margin-top: 20px;
  height:158px;
  width: 125px;
  display: relative;
}

#headshot {
  margin-top: 200px;
  height: 251px;
  width: 250px;
  display:relative;
}

#main {
float: left;
width: 480px;
}

#rightbar {
  float: right;
  width: 250px;
  display: fixed;
}

#righttop {
  margin-top: 20px;
  height: 250px;
  width:250px;
  display: relative;
}

#search {
  margin-top: 10px;
  height: 20px;
  width: 250px;
  display: relative;
}

#recents {
margin-top: 20px;
height: 197px;
width: 250px;
display: relative;
}

#comments {
  margin-top: 20px;
  height: 250px;
  width: 250px;
  display: relative;
}

#picbox {
  margin-top: 20px;
  height: 250px;
  width: 250px;
  display: relative;
}

.navbut {
  height: 30px;
  width: 125px;
  display:block;
  border: 1px solid blue;
  text-align: center;
}

.pics {
display: inline-block;
height: 35px;
width: 35px;
margin: 1em;
}