div {
	/* standard boxing for divs */
	border: 1px solid black;
  border-radius: 10px
}

#container {
width: 90%;
margin: 0 auto;
}

#leftbar  {
  float: left;
  height: 750px;
  width: 250px;
  position: fixed;
}

#navbar {
  margin-top: 20px;
  height:158px;
  width: 125px;
  z-index: 1;
  position: fixed;
}

#headshot {
  margin-top: 375px;
  height: 251px;
  width: 250px;
  z-index: 1;
  position: fixed;
}

#social {
  margin-top: 325px;
  height: 50px;
  width: 250px;
  z-index: 1;
  position: fixed;
}

#main {
float: left;
width: 480px;
/*position: relative;*/
}

#rightbar {
  float: right;
  width: 250px;
  /*position: relative;*/
}

#righttop {
  margin-top: 20px;
  height: 250px;
  width:250px;
  /*position: relative;*/
}

#search {
  margin-top: 10px;
  height: 20px;
  width: 250px;
  /*position: relative;*/
}

#recents {
margin-top: 20px;
height: 197px;
width: 250px;
/*position: relative;*/
}

#comments {
  margin-top: 20px;
  height: 250px;
  width: 250px;
  /*position: relative;*/
}

#picbox {
  margin-top: 20px;
  height: 250px;
  width: 250px;
  /*position: relative;*/
}

.navbut {
  height: 30px;
  width: 125px;
  display:block;
  border: 1px solid blue;
  text-align: center;
  background-color: grey;
  opacity: .9;
}

.pics {
display: inline-block;
height: 35px;
width: 35px;
margin: 1em;
}

.round-button {
  width: 8%;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  background: #464646;
  box-shadow: 0 0 3px blue;
  display: inline-block;
}

.round-button:hover {
    background: #262626;
}