body {
  background-color: black;
}

#header {
  height: 75px;
  width: 900px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -453px;
  z-index: 2;
  border: 3px solid #CC6A08;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  background-color: #B2B2B2;
}

#social {
  height: 50px;
  width: 300px;
  margin-left: 634px;
  margin-top: 36px;
  z-index: 1;
}

.round-button {
  width: 10%;
  height: 0;
  margin: 2px auto 2px auto;
  padding-bottom: 10%;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  display: inline-block;
}

.round-button:hover {
  border: 2px solid #39FF50;
}

#wrapper {
  width: 900px;
  margin: 100px auto;
  border: 3px solid #CC6A08;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
}

#leftbar  {
  height: 100%;
  width: 150px;
  display: inline-block;
  background-color: #B2B2B2;
  border: 1px solid #CC6A08;
}

#navbar {
  height:280px;
  width: 120px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.navbut {
  height: 30px;
  width: 120px;
  display: block;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: #16B228;
}

.navbut p {
  font-size: 24px;
  color: white;
  font-family: Garamond;
}

.navbut:hover p {
  color: #39FF50;
  /*border: 2px solid #39FF50;*/
}

#content {
  height: 100%;
  width: 550px;
  display: inline-block;
  background-color: #B2B2B2;
  border: 1px solid #CC6A08;
}

.entry {
  position: absolute;
  display: block;
}

.title {
  height: 25px;
  width: 550px;
  margin: 0 auto;
  font-size: 24px;
  color: white;
  font-family: Garamond;
  text-align: center;
}

.article {
  height: 300px;
  width: 550px;
  margin: 25 auto;
  font-size: 16px;
  color: white;
  font-family: Garamond;
}

#rightbar {
  height: 100%;
  width: 186px;
  display: inline-block;
  background-color: #B2B2B2;
  border: 1px solid #CC6A08;
}

#headshot {
  height: 151px;
  width: 150px;
  margin-top: 300px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}

#righttop {
  height: 250px;
  width:186px;
  position: absolute;
}

#search {
  margin-top: 10px;
  height: 20px;
  width: 183px;
  background-color: white;
  border: 2px solid #CC6A08;
  text-align: center;
  border-radius: 10px;
  font-family: Garamond;
}

#recents {
  margin-top: 20px;
  height: 300px;
  width: 180px;
  background-color: #16B228;
  border-radius: 10px;
  border: 1px solid #CC6A08;
  color: white;
  font-family: Garamond;
  padding-left: 5px;
}

#comments {
  margin-top: 20px;
  height: 250px;
  width: 180px;
  background-color: #16B228;
  border-radius: 10px;
  border: 1px solid #CC6A08;
  color: white;
  font-family: Garamond;
  padding-left: 5px
}